# ─────────────────────────────────────────────
# .gitignore — projet_pythonDS
# ─────────────────────────────────────────────

# Environnements virtuels Python
venv/
.venv/
env/

# Fichiers compilés Python
__pycache__/
*.py[cod]

# Jupyter : checkpoints automatiques
.ipynb_checkpoints/

# Éditeurs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Fichiers de logs
*.log