# ─────────────────────────────────────────────
# requirements.txt — dépendances du projet
# ─────────────────────────────────────────────
# Installer avec : pip install -r Requirements.txt

pandas
openpyxl
mapclassify
geopandas
matplotlib
seaborn
scipy
statsmodels
numpy
great_tables